{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
    // [
    //   "@emotion/babel-preset-css-prop",
    //   {
    //     "autoLabel": true,
    //     "labelFormat": "[local]"
    //   }
    // ]
  ]
  // "plugins": ["@emotion"]
}
